@import "../../template.scss";

.header {
  height: 44px;
  background-color: #db4c3f;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;

  .inner-container {
    @include flex(row, space-around);
    position: relative;

    .logo {
      color: rgb(104, 194, 216);

      img {
        width: 44px;
        height: 44px;
      }
    }

    .title {
      padding-top: 6px;
      .title-inner {
        font-family: "Pacifico";
        font-size: 30px;
        color: rgb(247, 240, 240);
      }
    }

    .add-quick-task {
      @include flex(row);
      padding-top: 14px;
      color: black;
      cursor: pointer;
      &:hover {
        color: white;
      }
    }

    .signout {
      position: absolute;
      right: 0;
      border-radius: 5px;
      margin-top: 11px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);

      @media screen and (max-width: 860px) {
        margin-top: 44px;
      }

      button {
        background: none;
        border: none;
        color: black;
        font-size: 15px;
        cursor: pointer;

        &:hover {
          color: rgb(203, 201, 228);
        }
      }
    }
  }
}
